body {
    text-align: center;
    background-color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#myCarousel {
    background-color: red;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}
